.col {
  border: 1px solid black;
  background-color: rgb(143,188,143,.75);
  margin: 20px;
  border-radius: 15px;
  padding: 10px;
}

body {
  background-color: transparent;
}

.jumbotron {
  margin-top: 20px;
  text-align: center;
  background-color: rgb(220,220,220,.85);
}

.jumbotron h1 {
  font-size: 80px;
}

.no-display {
  display: none;
  border: none;
}

.card {
  margin-top: 15px;
  padding: 0 5px;
}

#balance-row {
  margin-right: 20px;
}

html {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  height: 100%;
}
